<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/fixedExpensesPanelView.css}">
</head>

<body>

    <div class="register">
        <form th:action="@{GastoFixo/Cadastrar}" th:object="${fixedExpensesNew}" method="post">

            <input name="local" type="text" th:field="*{local}" placeholder="Local">
            <select th:field="*{tipoGasto}">
                <option th:each="tipoGasto : ${tipoGastoEnum}" th:value="${tipoGasto}" th:text="${tipoGasto}"></option>
            </select>
            <input name="valor" type="number" th:field="*{valor}" placeholder="Valor">
            <button type="submit">Salvar</button>
        </form>
    </div>

    <table>
        <tbody>
            <tr th:each="fe : ${fixedExpenses}">
                <td th:text="${fe.estado}"></td>
                <td th:text="${fe.local}"></td>
                <td th:text="${fe.tipoGasto}"></td>
                <td th:text="${fe.valor}"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>