<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/variableIncomePanelView.css}">
</head>

<body>

    <table>
        <thead></thead>
        <tbody>
            <tr th:each="vi: ${variableIncome}">
                <td th:text="${vi.idUsuario.nome}"></td>
                <td th:text="${vi.valor}"></td>
                <td th:text="${vi.descricao}"></td>
                <td th:text="${vi.dataEntrada}"></td>
            </tr>

        </tbody>

    </table>

</body>

</html>